
/* fondos */
$color-header: #4a96ca;
$color-mark-header: #34698d;

$color-covid: #ff0000;
$color-covid-boton: rgba(255, 0, 0, 0.521);

$color-index-iframe: grey;

$color-footer: rgba(128, 128, 128, 0.171);


$color-banner: rgba(128, 128, 128, 0.459);
$color-contacto-detalles: rgba(128, 128, 128, 0.171);
$color-destino-fondo-h3: #80808073;
$color-button: #4a96ca;

$color-promociones-back-boton: white;


/* bordes */
$color-contacto-border: rgba(128, 128, 128, 0.158);
$color-blog-border: #eee;
$color-bordes-promociones-cuadros: grey;
$color-bordes-promociones-img: grey;
$color-bordes-promociones-titulo: grey;
$color-bordes-promociones-detalle: grey;
$color-bordes-blog-form: grey;


/* color fuentes */
$color-fuentes-header: white;
$color-fuente-submenu: white;

$color-index-titulos: black;
$color-index-h3: white;
$color-index-modal: black;

$color-destino-h3: white;
$color-destino-parrafos: white;

$color-footer-titulo: black;

$color-contacto: grey;

$color-blog-span: blue;

$color-promociones-fuente-enviar: white;

/* color botones */
$color-boton-promociones: grey;

