/* header  */
$fuente-header: 'Noto Sans JP', sans-serif;


/* header banner */
$fuente-banner: 'Montserrat', sans-serif;

/* titulos */
$fuente-titulo: 'Bebas Neue', cursive;

/* main */
$fuente-modal-titulo: 'Bebas Neue', cursive;
$fuente-modal-testeos: 'Montserrat', sans-serif;

$fuente-h3: 'Montserrat', sans-serif;
$fuente-tren: 'Playfair Display', serif;

$fuente-promociones: 'Montserrat', sans-serif;
$fuente-promociones-negrita: 'Montserrat', sans-serif;

$fuente-contacto: 'Montserrat', sans-serif;

$fuente-blog-titulos: 'Playfair Display', serif;
$fuente-blog: 'Montserrat', sans-serif;

/* footer */
$fuente-footer: 'Montserrat', sans-serif;

/* COVID SECTION */
$fuente-covid : 'Noto Sans JP', sans-serif;