@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import './colores';
@import './fuentes';
@import './shared';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------------------------- */
/* pagina: index - header  */

.header {
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: $color-header;
    z-index: 2;
    width: 100%;
    padding: 10px;
}

.header__logo-agencia {
   display: flex;
   flex-direction: column;
   text-align: center;

   a {
    text-decoration: none;
    }

    h2 {
    font-family: $fuente-header;
    color: $color-fuentes-header;
    font-weight: lighter;   
    font-size: 20px;
    }
}


.header__nav {
    width: 100%;
    display: flex;
    align-items: flex-end;

    ul {
        margin-bottom: 0;
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    a {
        color: $color-fuentes-header;
        list-style-type: none;
        text-decoration: none;
    }    
}

ul a:hover {
    background-color: $color-mark-header;
    border-radius: 10px;
}

.nav__destinos {
    list-style-type: none;
}

#nav__submenu {
    display: none;
    position: absolute;
    
   li {
    list-style-type: none;
   }
}

.submenu2 {
    width: 150px;
}

.submenu2:hover {
    background-color: $color-mark-header;
    border-radius: 10px;
}

ul li:hover #nav__submenu {
    display: flex;  
    flex-direction: column;
}

.whatsapp {
    width: 20px;
    height: 20px;
}

/* -------------------------------------------- */
/* pagina index - main */
 
.main__index {
    padding-top: 100px;
}

.seccion__video {
    display: flex;
    position: relative;

    video {
        width: 100%;
    }
}

.index__busqueda {
   width: 100%;
   position: absolute;
   display: flex;
   justify-content: center;
   padding-top: 150px;
}

.index__busqueda__detalle {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: white solid;
    border-radius: 15px;
    padding: 20px;
}

.index__busqueda__h3 {
    margin: 10px 0;

    h3 {
        font-family: $fuente-h3;
        font-size: 20px;
    }
}

.index__busqueda__radio {
    margin-bottom: 10px;

    input {
        font-family: $fuente-h3;
        margin: 0 5px;
    }

    label {
        font-family: $fuente-h3;
        margin: 0 5px;
    }
}

.index__busqueda__ciudades-fechas {
    margin: 10px 0;
}

.index__busqueda__clase {
    margin: 10px 0;
}

/* articulo covid */

.btn {
    display: flex;
    width: 100%;
    padding: 0;
    border: none;
}

.seccion-covid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $color-covid;
    font-family: $fuente-covid;
    color: $color-fuentes-header;
    align-items: center; 
    width: 100%;

    p {
        margin-bottom: 0;
        font-weight: bolder;
    }  
}

/* -------------------- */

.index__seccion {
    padding: 50px 0;
    margin: 60px 0;
}

.index__titulos {
    font-family: $fuente-titulo;
    font-size: 50px;
    color: $color-index-titulos;
    text-align: center;
    padding: 20px 0;
}

.index__seccion__grilla {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
    overflow: hidden;
}

.index__a {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.index__fotos {
    height: 300px;
    margin: 0 50px;
}

.index__h3 {
    display: flex;
    position: absolute;
    font-family: $fuente-h3;
    color: $color-index-h3;
    font-size: 100%;
    font-weight: bold;
}

.logo__promociones {
    height: 50px;
}

.carousel-inner {
    height: 400px;
    overflow: hidden;
}

.index__iframe {
    width: 100%;
    background-color:$color-index-iframe;
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

/* ------------------------------------------------ */
/* footer (todas paginas)  */

.footer__barra-gris {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $color-footer;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.footer__inside {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.footer__titulo {
    display: flex;
    flex-direction: column;
    font-family: $fuente-footer;
    color: $color-footer-titulo;

    h3 {
        font-size: 20px;
        font-weight: bolder;
    }

    h4 {
        font-size: 15px;
    }

    span {
        font-size: 15px;
        font-style: italic;
    }
}

.footer__redes-sociales {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.redes__img {
    height: 30px;
}

/* ------------------------------------------ */
/* ------------------------------------------ */


/* todas las paginas secundarias  - header imagen  */

.header__imagen {
    display: flex;
    position: relative;
    padding-top: 80px;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
    }

    h2 {
        display: flex;
        position: absolute;
        font-family: $fuente-banner;
        font-weight: bold;
        font-size: 40px;
        background-color: $color-banner;
        width: 100%;
        justify-content: center;
    }
}

/*  paginas destinos - main */

.main__pagina-destinos {
    padding-top: 120px;
    position: relative;
}

.seccion__destino {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seccion__destino__lugares {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 0;

    h2 {
        font-family: $fuente-titulo;
        font-size: 50px;
        text-align: center;
    }
}

.seccion__destino__fotos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    margin: 0 10px;
}

.seccion__destino__fotos__interno {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    img {
        height: 200px;
    }
}

.seccion__destino__h3 {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    align-items: center;
    padding: 0 50px;

    h3 {
        display: block;
        font-family: $fuente-h3;
        color: $color-destino-h3;
        font-size: 20px;
        font-style: italic;
        text-align: center;
        background-color: $color-destino-fondo-h3;
    }
}

.destino__logo {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    width: 90%;
    z-index: 2;
}

/* ---------------------------------------------------------- */
/* pagina promociones */

.main__promociones {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.promociones__grid {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    justify-content: center;
    position: relative;
}

.promociones__cuadro {
    display: flex;
    flex-direction: column;
    position: relative;
    border: $color-bordes-promociones-cuadros solid;
    border-width: thin;
    border-radius: 0 0 15px 15px;
    align-items: center;
}

.promociones__img {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    border-bottom: $color-bordes-promociones-img solid;
    border-width: thin;
    justify-content: center;

    img {
        overflow: hidden;
    }
}

.promociones__titulo {
    display: flex;
    flex-direction: column;
    font-family: $fuente-promociones;
    width: 100%;
    border-bottom: $color-bordes-promociones-titulo solid;
    border-width: thin;

    h3 {
        font-size: 20px;
        font-weight: bolder;
        text-align: center;
    }

    h4 {
        font-size: 15px;
        font-style: italic;
        text-align: center;
    }
}

.promociones__detalle-incluye {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: $color-bordes-promociones-detalle solid;
    border-width: thin;
    padding: 10px 0 20px 0;  

    p {
        font-size: 70%;
        text-align: center;
    }
}

.promociones__precio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-family: $fuente-promociones;
    }
}

.promociones__precio2 {
    font-family: $fuente-promociones-negrita;
    font-weight: bolder;
    font-size: 30px;
}

.promociones__pedilo {
    position: absolute;
    display: flex;
    justify-content: flex-start;  
    width: 100%;  

    button {
        font-family: $fuente-promociones;
        background-color: $color-promociones-back-boton;
        border: $color-boton-promociones solid;
        border-radius: 15px;
        border-width: thin;
        padding: 10px;
    }    
}

.promociones__logo {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    width: 80%;
    z-index: 2;
}

.promociones__suscribete {
    display: flex;
    justify-content: center;
}

.promociones__suscribete__formulario {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: $fuente-promociones;
    margin-top: 50px;
    
    legend {
        font-size: 90%;
        margin-right: 20px;
    }
}

.promociones__enviar {
    background-color: $color-button;
    color: $color-promociones-fuente-enviar;
    border: $color-button solid;
    border-radius: 15px;
    margin-left: 10px;
}

/* -------------------------------------------------------- */

/* pagina contacto */

.main__contacto {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.contacto__direccion {
    display: flex;
    flex-direction: row;
    margin: 50px 0;
    justify-content: center;
}

.seccion__contacto {
    display: flex;
    flex-direction: column;
    font-family: $fuente-contacto;
    color: $color-contacto;
    padding-right: 50px;

    a {
        text-decoration: none;
        color: $color-contacto;
    }
}

.contacto__barra-abajo {
    display: flex;
    flex-direction: row;
    padding: 50px 20px;
    background-color: $color-contacto-detalles;
    justify-content: space-around;
}

.contacto__horario {
    font-family: $fuente-contacto;
    font-size: 80%;
    padding-left: 20px;

    h3 {
        font-size:medium;
    }

    span {
        display: block;
    }
}

.contacto__forma-pagos {
    font-family: $fuente-contacto;
    font-size: 80%;
    border-left: $color-contacto-border solid;
    padding-left: 20px;

    h3 {
        font-size: medium;
    }

    img {
        height: 50px;
        margin: 10px;
    }
}

.contacto__preguntas {
    font-family: $fuente-contacto;
    font-size: 80%;
    border-left: $color-contacto-border solid;
    padding-left: 20px;  
    
    h3 {
        font-size: medium;
    }
}

.contacto__formulario {
    display: flex;
    flex-direction: column;
    border-left: $color-contacto-border solid;
    padding-left: 20px;
    font-family: $fuente-contacto;
    font-size: 80%;

    h3 {
        font-size: medium;
    }
}

.contacto__limpiar {
    @extend .promociones__enviar; 
}

.contacto__enviar {
    @extend .promociones__enviar;
}

.contacto__fieldset {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.contacto__banner {
    width: 100%;
    margin: 50px 0;

    img {
        width: 100%;
    }
}

/* ------------------------------------------------------------------- */
/* pagina blog - main  */

.main__blog {
    padding-top: 50px;
}

.blog__pencil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 0;

    img {
        height: 30px;
    }

    h1 {
        font-family: $fuente-blog-titulos;
        font-size: 30px;
    }
}

.blog__historias {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    justify-content: center;
    margin: 50px 0;
}

.blog__historias__seccion {
    border: 1px solid $color-blog-border;
}

.blog__historias__seccion:hover {
    opacity: 0.8;
}

.blog__imagen {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.blog__texto {
    display: flex;
    flex-direction: column;
    font-family: $fuente-blog;
    margin: 20px 0;
    padding: 0 20px;

    span {
        color: $color-blog-span;
        font-size: 80%;
    }

    h3 {
        font-family: $fuente-blog-titulos;
        font-size: 20px;
    }

    p {
        font-style: italic;
    }
}

.seccion__blog__form {
    display: flex;
    justify-content: center;
}

.blog__form {
    @include formularios;
    display: inline-block;
    font-family: $fuente-blog;
    border: $color-bordes-blog-form solid;
    border-width: thin;
    text-align: center;
}

.legend {
    display: flex;
    font-family: $fuente-blog-titulos;
    font-size: 90%;
    justify-content: center;
}

.blog__form__inside {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.blog__label {
    display: flex;
    flex-direction: column;
}

.blog__input {
    font-size: small;
}

.blog__limpiar {
    @extend .promociones__enviar;
}

.blog__enviar {
    @extend .promociones__enviar;
}

.checkbox {
    display: flex;
    flex-direction: row;
}




